<div class="titleContainer">
  <img class="titleImage" src="../../assets/pokedex.webp" alt="Pokedex" />
  <pokemon-search></pokemon-search>
</div>

<div class="pokemonsList">
  <ng-template
    ngFor
    let-pokemon
    [ngForOf]="pokemonsList"
    [ngIf]="pokemonsList.length > 0"
  >
    <list-item class="pokemonItem" [pokemon]="pokemon.details"></list-item>
  </ng-template>
</div>

<div class="buttonsContainer">
  <button
    class="prevButton"
    [disabled]="offset === 0"
    (click)="onPageChange(false)"
  >
    Prev
  </button>
  <button class="nextButton" (click)="onPageChange(true)">Next</button>
</div>
