.buttonsContainer {
    display: flex;
    justify-content: center;
}

.nextButton, .prevButton {
    background-color:#FCDDBC;
    border: 1px solid #EF959D;
    border-radius: 4px;
    color: #69585F;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 12px;
    padding: 8px 12px;
}

.nextButton:disabled, .prevButton:disabled {
    background-color: #EF959D;
    border: 1px solid #FCDDBC;
    color: #69585F;
    cursor: default;
}

.nextButton {
    margin-left: 16px;
}

.pokemonItem {
    width: 20%;
}

.pokemonsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleImage {
    max-height: 150px;
}
